# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Cython debug symbols
cython_debug/

# Virtual environments
env/
venv/
ENV/
VENV/
.venv/
.ENV/
.venv/
.env/

# Python egg files
*.egg
*.egg-info/
dist/
build/
eggs/
*.egg-info/
.installed.cfg
*.egg/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook files
.ipynb_checkpoints/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Environment variable files
.env
.env.*
.vscode/

# Selenium WebDriver binaries
chromedriver
geckodriver
msedgedriver
operadriver
IEDriverServer
chromedriver.exe
geckodriver.exe
msedgedriver.exe
operadriver.exe
IEDriverServer.exe
undetected_chromedriver.exe


# Test logs and screenshots
logs/
screenshots/

# System-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.idea/
.vscode/
*.swp
*.swo

# Backup files
*~
*.bak
*.orig
*.rej

# PyCharm
*.idea/
*.sublime-project
*.sublime-workspace
*.code-workspace

# Other environments or tools
.mypy_cache/
.pytest_cache/
.pdm.toml
.pdm.lock
.pdm.cache/


# output folder
output/